@import 'tailwindcss';

   .scrollbar-hide::-webkit-scrollbar {
            display: none;
        }
        .scrollbar-hide {
            -ms-overflow-style: none;
            scrollbar-width: none;
        }
        .card-hover:hover {
            transform: translateY(-4px);
            transition: transform 0.3s ease-in-out;
        }